include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap' rel='stylesheet')

        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper.landing
            //- heeader
            header.lheader
                .lheader__left
                    a(href='/').lheader__logo
                        +image('images/content/logo-dark.png')
                .lheader__center
                    a(href='#').lheader__enter.lheader__btn
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M48.2884 2.59613H5.71155C2.56215 2.59613 0 5.15839 0 8.30768V31.673V35.3077C0 38.457 2.56215 41.0192 5.71155 41.0192H19.5025L17.841 49.3269H12.4616C11.888 49.3269 11.4231 49.7918 11.4231 50.3654C11.4231 50.9389 11.888 51.4038 12.4616 51.4038H41.5384C42.112 51.4038 42.5769 50.9389 42.5769 50.3654C42.5769 49.7918 42.112 49.3269 41.5384 49.3269H36.159L34.4975 41.0192H48.2884C51.4377 41.0192 54 38.4571 54 35.3077V31.673V8.30768C54 5.15839 51.4378 2.59613 48.2884 2.59613ZM19.959 49.3269L21.6206 41.0192H32.3794L34.041 49.3269H19.959ZM51.9231 35.3077C51.9231 37.3118 50.2927 38.9423 48.2884 38.9423H5.71155C3.70744 38.9423 2.07689 37.3119 2.07689 35.3077V32.7116H51.923V35.3077H51.9231ZM51.9231 30.6347H2.07689V28.5578H8.30767C8.88121 28.5578 9.34611 28.0929 9.34611 27.5193C9.34611 26.9458 8.88121 26.4809 8.30767 26.4809H2.07689V8.30768C2.07689 6.30357 3.70733 4.67302 5.71155 4.67302H48.2884C50.2926 4.67302 51.9231 6.30346 51.9231 8.30768V30.6347Z" fill="#CC002D"/>
                        <path d="M27 33.75C25.8548 33.75 24.9231 34.6817 24.9231 35.8269C24.9231 36.9721 25.8548 37.9038 27 37.9038C28.1452 37.9038 29.0769 36.9721 29.0769 35.8269C29.0769 34.6817 28.1452 33.75 27 33.75Z" fill="#CC002D"/>
                        <path d="M35.5021 22.4843L33.2991 20.2814L35.1349 18.4457C35.4019 18.1788 35.5029 17.788 35.3988 17.4251C35.2947 17.0623 35.0019 16.7845 34.6341 16.6995L25.0881 14.4965C24.7393 14.4163 24.3735 14.5209 24.1202 14.7741C23.8671 15.0274 23.7621 15.393 23.8426 15.742L26.0457 25.2879C26.1306 25.6557 26.4084 25.9486 26.7714 26.0527C27.1344 26.1566 27.5249 26.0556 27.792 25.7888L29.6277 23.953L31.8306 26.1559C32.0334 26.3587 32.2992 26.4601 32.5649 26.4601C32.8305 26.4601 33.0964 26.3587 33.2991 26.1559L35.5021 23.953C35.9075 23.5475 35.9075 22.89 35.5021 22.4843ZM32.5649 23.953L30.3619 21.7501C30.1591 21.5472 29.8933 21.4459 29.6277 21.4459C29.362 21.4459 29.0961 21.5472 28.8934 21.7501L27.6482 22.9953L26.2402 16.8941L32.3415 18.302L31.0962 19.5471C30.6907 19.9527 30.6907 20.6103 31.0962 21.0158L33.2991 23.2187L32.5649 23.953Z" fill="#CC002D"/>
                        <path d="M22.7255 11.9107L21.687 10.8723C21.2815 10.4667 20.6239 10.4667 20.2184 10.8723C19.8128 11.2778 19.8128 11.9353 20.2184 12.3409L21.2569 13.3794C21.4597 13.5822 21.7255 13.6835 21.9912 13.6835C22.2569 13.6835 22.5227 13.5822 22.7255 13.3794C23.131 12.9739 23.131 12.3163 22.7255 11.9107Z" fill="#CC002D"/>
                        <path d="M20.7008 14.722H19.2322C18.6587 14.722 18.1938 15.187 18.1938 15.7605C18.1938 16.334 18.6587 16.7989 19.2322 16.7989H20.7008C21.2743 16.7989 21.7392 16.334 21.7392 15.7605C21.7392 15.187 21.2743 14.722 20.7008 14.722Z" fill="#CC002D"/>
                        <path d="M22.7254 18.1415C22.32 17.736 21.6625 17.736 21.2569 18.1415L20.2185 19.1799C19.8129 19.5855 19.8129 20.2431 20.2185 20.6486C20.4213 20.8514 20.687 20.9528 20.9527 20.9528C21.2184 20.9528 21.4843 20.8514 21.687 20.6486L22.7254 19.6101C23.131 19.2047 23.131 18.5471 22.7254 18.1415Z" fill="#CC002D"/>
                        <path d="M29.9948 10.8723C29.5893 10.4667 28.9318 10.4667 28.5261 10.8723L27.4877 11.9107C27.0822 12.3162 27.0822 12.9738 27.4877 13.3794C27.6905 13.5822 27.9563 13.6835 28.2221 13.6835C28.4878 13.6835 28.7536 13.5822 28.9563 13.3794L29.9948 12.3409C30.4003 11.9355 30.4003 11.2779 29.9948 10.8723Z" fill="#CC002D"/>
                        <path d="M25.1067 8.8476C24.5332 8.8476 24.0683 9.3125 24.0683 9.88604V11.3546C24.0683 11.9281 24.5332 12.393 25.1067 12.393C25.6803 12.393 26.1452 11.9281 26.1452 11.3546V9.88604C26.1452 9.3125 25.6803 8.8476 25.1067 8.8476Z" fill="#CC002D"/>
                        <path d="M12.4408 27.3167C12.4283 27.2503 12.4076 27.1849 12.3816 27.1215C12.3557 27.0592 12.3235 26.9989 12.2861 26.9428C12.2487 26.8857 12.2051 26.8327 12.1573 26.785C12.1095 26.7372 12.0566 26.6936 11.9994 26.6562C11.9433 26.6188 11.8831 26.5866 11.8198 26.5606C11.7575 26.5347 11.6921 26.5139 11.6256 26.5015C11.4917 26.4745 11.3546 26.4745 11.2206 26.5015C11.1542 26.5139 11.0888 26.5347 11.0265 26.5606C10.9631 26.5866 10.9028 26.6187 10.8468 26.6562C10.7897 26.6935 10.7367 26.7372 10.689 26.785C10.6412 26.8327 10.5976 26.8857 10.5602 26.9428C10.5228 26.9989 10.4906 27.0592 10.4646 27.1215C10.4387 27.1849 10.4179 27.2503 10.4055 27.3167C10.392 27.3832 10.3847 27.4517 10.3847 27.5192C10.3847 27.5867 10.392 27.6553 10.4055 27.7217C10.4179 27.7882 10.4387 27.8536 10.4646 27.9159C10.4906 27.9793 10.5227 28.0395 10.5602 28.0955C10.5975 28.1527 10.6412 28.2056 10.689 28.2534C10.7367 28.3012 10.7897 28.3447 10.8468 28.3822C10.9029 28.4195 10.9632 28.4518 11.0265 28.4777C11.0888 28.5037 11.1542 28.5244 11.2206 28.5379C11.2871 28.5514 11.3556 28.5577 11.4231 28.5577C11.4906 28.5577 11.5592 28.5514 11.6256 28.5379C11.6921 28.5244 11.7575 28.5037 11.8198 28.4777C11.8832 28.4518 11.9434 28.4196 11.9994 28.3822C12.0566 28.3448 12.1095 28.3012 12.1573 28.2534C12.2051 28.2056 12.2486 28.1527 12.2861 28.0955C12.3234 28.0394 12.3557 27.9792 12.3816 27.9159C12.4076 27.8536 12.4283 27.7882 12.4408 27.7217C12.4543 27.6553 12.4616 27.5867 12.4616 27.5192C12.4616 27.4517 12.4543 27.3832 12.4408 27.3167Z" fill="#CC002D"/>
                        </svg>
                        span
                            | Войти в личный
                            br
                            | кабинет

                    a(href='#').lheader__sign.lheader__btn
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M43.9905 20.0139C44.0006 10.7769 37.6808 2.73588 28.7031 0.562896C19.7254 -1.61008 10.4279 2.65098 6.21298 10.8703C1.99802 19.0895 3.96335 29.1263 10.967 35.1488L6.69555 43.2608C5.50515 43.5282 4.70511 44.6466 4.83648 45.8596C4.96785 47.0725 5.98884 47.9936 7.20886 48H19.2029C20.5277 48 21.6017 46.9261 21.6017 45.6012C21.5991 45.3282 21.5493 45.0577 21.4546 44.8016H26.5464C26.4517 45.0577 26.4019 45.3283 26.3993 45.6012C26.3993 46.926 27.4733 48 28.7981 48H40.7921C42.0122 47.9936 43.0331 47.0725 43.1645 45.8596C43.2959 44.6466 42.4958 43.5282 41.3054 43.2608L37.034 35.1488C41.4492 31.3599 43.99 25.8321 43.9905 20.0139ZM33.295 4.15464C30.3055 5.17975 27.1603 5.67601 24.0005 5.6211C20.8431 5.67582 17.7004 5.1776 14.7147 4.14902C20.4503 0.779069 27.5615 0.781225 33.295 4.15464ZM5.60963 20.0139C5.61047 14.1628 8.39824 8.66186 13.1163 5.2013C15.8014 6.48382 19.7194 7.22033 24.0005 7.22033C28.2816 7.22033 32.2108 6.48551 34.8943 5.20777C41.881 10.3445 44.3301 19.6638 40.7715 27.5718C37.2129 35.4798 28.6139 39.8274 20.1358 38.0051C11.6576 36.1828 5.60447 28.6857 5.60963 20.0139ZM24.0005 40.004C24.6753 40.004 25.3417 39.9707 25.9995 39.9041L27.5419 43.2024H20.4591L22.0015 39.9041C22.6588 39.9707 23.3251 40.004 24.0005 40.004ZM12.2367 36.1659C14.6435 37.9249 17.415 39.1203 20.3463 39.6634L18.6935 43.2025H8.53298L12.2367 36.1659ZM20.0025 45.6012C20.0025 46.0428 19.6444 46.4008 19.2029 46.4008H7.20886C6.76724 46.4008 6.40929 46.0428 6.40929 45.6012C6.40929 45.1596 6.76733 44.8016 7.20886 44.8016H19.2029C19.6445 44.8016 20.0025 45.1596 20.0025 45.6012ZM40.7921 46.4008H28.7981C28.3565 46.4008 27.9985 46.0428 27.9985 45.6012C27.9985 45.1596 28.3566 44.8016 28.7981 44.8016H40.7921C41.2338 44.8016 41.5917 45.1596 41.5917 45.6012C41.5917 46.0428 41.2338 46.4008 40.7921 46.4008ZM39.468 43.2024H29.3074L27.6546 39.6633C30.5859 39.1202 33.3574 37.9249 35.7642 36.1658L39.468 43.2024Z" fill="#CC002D"/>
                        <path d="M24.0005 31.2084C30.183 31.2084 35.1949 26.1965 35.1949 20.0139C35.1949 13.8314 30.1829 8.81958 24.0005 8.81958C17.818 8.81958 12.806 13.8315 12.806 20.014C12.8127 26.1938 17.8207 31.2019 24.0005 31.2084ZM24.0005 10.4187C29.2998 10.4187 33.5957 14.7146 33.5957 20.0139C33.5957 25.3132 29.2998 29.6092 24.0005 29.6092C18.7012 29.6092 14.4053 25.3132 14.4053 20.0139C14.411 14.7171 18.7035 10.4245 24.0005 10.4187Z" fill="#CC002D"/>
                        <path d="M24.0005 28.01C28.4166 28.01 31.9965 24.4301 31.9965 20.014C31.9965 15.598 28.4166 12.0181 24.0005 12.0181C19.5845 12.0181 16.0045 15.598 16.0045 20.014C16.0093 24.428 19.5864 28.0052 24.0005 28.01ZM26.3993 20.014C26.3993 21.3388 25.3253 22.4128 24.0005 22.4128C22.6757 22.4128 21.6017 21.3387 21.6017 20.014C21.6017 18.6892 22.6757 17.6152 24.0005 17.6152C25.3253 17.6152 26.3993 18.6892 26.3993 20.014ZM27.0662 17.4793C26.906 17.2863 26.7282 17.1086 26.5353 16.9484C26.4484 16.7841 26.4018 16.6016 26.3993 16.4158C26.3993 15.7535 26.9363 15.2164 27.5987 15.2164C28.2611 15.2164 28.7981 15.7535 28.7981 16.4158C28.7981 17.0782 28.2611 17.6152 27.5987 17.6152C27.4129 17.6127 27.2304 17.5661 27.0662 17.4793ZM24.0005 13.6172C24.7481 13.6189 25.4895 13.7523 26.1906 14.0114C25.4327 14.4561 24.9288 15.2323 24.8313 16.1056C23.0933 15.732 21.3167 16.5472 20.4667 18.1086C19.6166 19.67 19.896 21.6046 21.153 22.8616C22.4101 24.1186 24.3447 24.398 25.9061 23.548C27.4673 22.6979 28.2827 20.9214 27.9091 19.1834C28.7824 19.0858 29.5585 18.582 30.0032 17.824C30.9571 20.4459 30.1001 23.3836 27.8862 25.0815C25.6722 26.7794 22.6128 26.8451 20.328 25.2438C18.0431 23.6426 17.0608 20.7444 17.9013 18.0839C18.7415 15.4233 21.2104 13.6153 24.0005 13.6172Z" fill="#CC002D"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="48" height="48" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        span
                            | Записаться на
                            br
                            | вебинар
                .lheader__right
                    a(href="tel:+7(495)477-16-52").lheader__tel +7(495) 477-16-52
            //- pages
            .page
                block content

            //- footer
            footer.lfooter
                .container
                    .lfooter__top
                        .lfooter__logo
                            a(href="/")
                                +image('images/content/logo-light.png')
                        .lfooter__txt
                            p Мы предлагаем услуги автошколы недорого в Москве, чтобы реализовать потребности всех потенциальных водителей.
                        .lfooter__contacts
                            a(href="tel:+7(495)477-16-58").lfooter__tel +7 (495) 477-16-58
                            a(href="mailto:INFO@GORODDOROG-AVTO.RU").lfooter__contact.lfooter__mail INFO@GORODDOROG-AVTO.RU
                            .lfooter__contact.lfooter__time ВРЕМЯ РАБОТЫ: 12:00 - 20:00
                            .lfooter__socials
                                .lfsocials
                                    a(href="#").lfsocials__item
                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 10.625C5 7.31129 7.68629 4.625 11 4.625H23C26.3137 4.625 29 7.31129 29 10.625V22.625C29 25.9387 26.3137 28.625 23 28.625H11C7.68629 28.625 5 25.9387 5 22.625V10.625ZM16.9999 20.2867C19.0224 20.2867 20.6619 18.6471 20.6619 16.6247C20.6619 14.6022 19.0224 12.9627 16.9999 12.9627C14.9775 12.9627 13.3379 14.6022 13.3379 16.6247C13.3379 18.6471 14.9775 20.2867 16.9999 20.2867ZM16.9999 23.2867C20.6793 23.2867 23.6619 20.304 23.6619 16.6247C23.6619 12.9453 20.6793 9.96267 16.9999 9.96267C13.3206 9.96267 10.3379 12.9453 10.3379 16.6247C10.3379 20.304 13.3206 23.2867 16.9999 23.2867ZM25.0013 10.6584C25.8201 10.6584 26.4838 9.99469 26.4838 9.17595C26.4838 8.35722 25.8201 7.69351 25.0013 7.69351C24.1826 7.69351 23.5189 8.35722 23.5189 9.17595C23.5189 9.99469 24.1826 10.6584 25.0013 10.6584Z" fill="#9E9E9E"/>
                                        </svg>
                                    a(href="#").lfsocials__item
                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M29.7585 23.0839C29.7585 22.9812 29.655 22.9812 29.655 22.8784C29.2413 22.0565 28.3102 21.0291 27.0689 19.899C26.4482 19.3853 26.1378 18.9743 25.9309 18.7688C25.6206 18.3579 25.6206 18.0497 25.724 17.6387C25.8275 17.3305 26.2413 16.8168 26.9654 15.8921C27.3792 15.3784 27.5861 15.0702 27.8964 14.762C29.4481 12.7072 30.1723 11.3716 29.9654 10.7551L29.862 10.6524C29.7585 10.5497 29.655 10.4469 29.4481 10.4469C29.2412 10.3442 28.9309 10.3442 28.6206 10.4469H24.6896C24.5861 10.4469 24.5861 10.4469 24.3792 10.4469C24.2758 10.4469 24.1723 10.4469 24.1723 10.4469H24.0689H23.9654L23.862 10.5497C23.7585 10.6524 23.7585 10.6524 23.7585 10.7551C23.3447 11.8853 22.8275 12.8099 22.3102 13.8373C21.9999 14.351 21.6896 14.8647 21.3792 15.2757C21.0689 15.6866 20.862 15.9949 20.6551 16.2003C20.4482 16.4058 20.2413 16.5086 20.1378 16.714C20.0344 16.8168 19.8275 16.9195 19.8275 16.8168C19.7241 16.8168 19.6206 16.8168 19.6206 16.714C19.5172 16.6113 19.4137 16.5086 19.3103 16.4058C19.2068 16.3031 19.2068 16.0976 19.1034 15.8921C19.1034 15.6866 19.1034 15.4812 19.1034 15.3784C19.1034 15.2757 19.1034 14.9675 19.1034 14.762C19.1034 14.4538 19.1034 14.2483 19.1034 14.1455C19.1034 13.8373 19.1034 13.4264 19.1034 13.0154C19.1034 12.6045 19.1034 12.2962 19.1034 12.0907C19.1034 11.8853 19.1034 11.5771 19.1034 11.3716C19.1034 11.0634 19.1034 10.8579 19.1034 10.7551C19.1034 10.6524 18.9999 10.4469 18.9999 10.3442C18.8965 10.2414 18.793 10.1387 18.6896 10.036C18.5861 9.93321 18.3792 9.93322 18.2758 9.83048C17.7586 9.72774 17.1379 9.625 16.4137 9.625C14.7586 9.625 13.6207 9.72774 13.2069 9.93322C13 10.036 12.7931 10.1387 12.6896 10.3442C12.4827 10.5497 12.4827 10.6524 12.5862 10.6524C13.1034 10.7551 13.5172 10.9606 13.7241 11.2688L13.8276 11.4743C13.931 11.5771 13.931 11.7825 14.0344 12.0907C14.1379 12.399 14.1379 12.7072 14.1379 13.1181C14.1379 13.7346 14.1379 14.351 14.1379 14.762C14.1379 15.2757 14.0344 15.5839 14.0344 15.8921C14.0344 16.2003 13.931 16.4058 13.8276 16.5086C13.7241 16.714 13.7241 16.8168 13.6206 16.8168C13.6206 16.8168 13.6206 16.9195 13.5172 16.9195C13.4137 16.9195 13.3103 17.0223 13.1034 17.0223C13 17.0223 12.7931 16.9195 12.6896 16.8168C12.4827 16.714 12.2758 16.5086 12.1724 16.3031C11.9655 16.0976 11.7586 15.7894 11.5517 15.3784C11.3448 14.9675 11.0344 14.5565 10.8275 13.9401L10.6207 13.5291C10.5172 13.3236 10.3103 12.9127 10.1034 12.399C9.89653 11.8853 9.68963 11.4743 9.48273 10.9606C9.37929 10.7551 9.27585 10.6524 9.1724 10.5497H9.06895C9.06895 10.5497 8.96549 10.4469 8.86204 10.4469C8.75859 10.4469 8.65516 10.3442 8.55171 10.3442H4.82759C4.41379 10.3442 4.2069 10.4469 4.10345 10.5497L4 10.6524C4 10.6524 4 10.7551 4 10.8579C4 10.9606 4.00001 11.0633 4.10345 11.2688C4.62069 12.5017 5.24138 13.7346 5.86206 14.9675C6.48275 16.0976 7.10344 17.125 7.51723 17.8442C8.03447 18.5634 8.44826 19.2825 8.9655 19.899C9.48273 20.5154 9.79307 20.9264 9.89652 21.1319C10.1034 21.3373 10.2069 21.4401 10.3103 21.5428L10.6207 21.851C10.8276 22.0565 11.1379 22.3647 11.5517 22.6729C11.9655 22.9812 12.4827 23.2894 13 23.5976C13.5172 23.9058 14.1379 24.1113 14.7586 24.3168C15.4827 24.5223 16.1034 24.625 16.7241 24.5223H18.2758C18.5861 24.5223 18.793 24.4195 18.9999 24.214L19.1034 24.1113C19.1034 24.0086 19.2068 24.0086 19.2068 23.9058C19.2068 23.8031 19.2068 23.7004 19.2068 23.4949C19.2068 23.0839 19.2068 22.7757 19.3103 22.4675C19.4137 22.1593 19.4137 21.9538 19.5172 21.7483C19.6206 21.5428 19.7241 21.4401 19.8275 21.3373C19.931 21.2346 20.0344 21.1319 20.0344 21.1319H20.1378C20.3447 21.0291 20.6551 21.1319 20.862 21.3373C21.1723 21.5428 21.4827 21.851 21.6896 22.1593C21.8965 22.4675 22.2068 22.7757 22.6206 23.1866C23.0344 23.5976 23.3447 23.9058 23.5516 24.0086L23.862 24.214C24.0689 24.3168 24.2758 24.4195 24.5861 24.5223C24.8965 24.625 25.1033 24.625 25.3102 24.625L28.8275 24.5223C29.1378 24.5223 29.4481 24.4195 29.655 24.3168C29.8619 24.2141 29.9654 24.1113 29.9654 23.9058C29.9654 23.8031 29.9654 23.5976 29.9654 23.4949C29.7585 23.2894 29.7585 23.1866 29.7585 23.0839Z" fill="#9E9E9E"/>
                                        </svg>
                                    a(href="#").lfsocials__item
                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M25.5122 7.3C23.1415 4.9375 19.9805 3.625 16.6439 3.625C9.70731 3.625 4.0878 9.225 4.0878 16.1375C4.0878 18.325 4.70244 20.5125 5.7561 22.35L4 28.825L10.6732 27.075C12.5171 28.0375 14.5366 28.5625 16.6439 28.5625C23.5805 28.5625 29.2 22.9625 29.2 16.05C29.1122 12.8125 27.8829 9.6625 25.5122 7.3ZM22.7024 20.6C22.439 21.3 21.2098 22 20.5951 22.0875C20.0683 22.175 19.3659 22.175 18.6634 22C18.2244 21.825 17.6098 21.65 16.9073 21.3C13.7463 19.9875 11.7268 16.8375 11.5512 16.575C11.3756 16.4 10.2341 14.9125 10.2341 13.3375C10.2341 11.7625 11.0244 11.0625 11.2878 10.7125C11.5512 10.3625 11.9024 10.3625 12.1659 10.3625C12.3415 10.3625 12.6049 10.3625 12.7805 10.3625C12.9561 10.3625 13.2195 10.275 13.4829 10.8875C13.7463 11.5 14.361 13.075 14.4488 13.1625C14.5366 13.3375 14.5366 13.5125 14.4488 13.6875C14.361 13.8625 14.2732 14.0375 14.0976 14.2125C13.9219 14.3875 13.7463 14.65 13.6585 14.7375C13.4829 14.9125 13.3073 15.0875 13.4829 15.35C13.6585 15.7 14.2732 16.6625 15.239 17.5375C16.4683 18.5875 17.4341 18.9375 17.7854 19.1125C18.1366 19.2875 18.3122 19.2 18.4878 19.025C18.6634 18.85 19.2781 18.15 19.4537 17.8C19.6293 17.45 19.8927 17.5375 20.1561 17.625C20.4195 17.7125 22 18.5 22.2634 18.675C22.6146 18.85 22.7902 18.9375 22.878 19.025C22.9659 19.2875 22.9659 19.9 22.7024 20.6Z" fill="#9E9E9E"/>
                                        </svg>
                                    a(href="#").lfsocials__item
                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M25.7131 15.5381C25.7131 15.1502 25.6485 14.6977 25.6485 14.1806C25.5839 13.6634 25.5192 13.1462 25.4545 12.6937C25.3253 12.1765 25.1313 11.7886 24.7434 11.4654C24.4202 11.1422 23.9677 10.9482 23.5152 10.8836C22.0283 10.6896 19.8303 10.625 16.8566 10.625C13.8828 10.625 11.6202 10.6896 10.198 10.8836C9.74545 10.9482 9.29293 11.1422 8.9697 11.4654C8.64646 11.7886 8.38787 12.1765 8.25858 12.6937C8.12929 13.1462 8.06465 13.5987 8.06465 14.1806C8 14.6977 8 15.1502 8 15.5381C8 15.926 8 16.3785 8 17.025C8 17.6715 8 18.1886 8 18.5119C8 18.8997 8.06465 19.3523 8.06465 19.8694C8.1293 20.3866 8.19394 20.9038 8.25858 21.3563C8.38787 21.8735 8.58182 22.2614 8.9697 22.5846C9.29293 22.9078 9.74545 23.1018 10.198 23.1664C11.6848 23.3604 13.8828 23.425 16.8566 23.425C19.8303 23.425 22.0929 23.3604 23.5152 23.1664C23.9677 23.1018 24.4202 22.9078 24.7434 22.5846C25.0667 22.2614 25.3253 21.8735 25.4545 21.3563C25.5838 20.9038 25.6485 20.4513 25.6485 19.8694C25.7131 19.3523 25.7131 18.8997 25.7131 18.5119C25.7131 18.124 25.7131 17.6715 25.7131 17.025C25.7131 16.3785 25.7131 15.8614 25.7131 15.5381ZM20.2828 17.5422L15.1758 20.7098C15.1111 20.7745 14.9818 20.8391 14.8525 20.8391C14.7232 20.8391 14.6586 20.8391 14.5293 20.7745C14.3354 20.6452 14.2061 20.4513 14.2061 20.1927V13.7927C14.2061 13.5341 14.3354 13.3402 14.5293 13.2109C14.7232 13.0816 14.9818 13.0816 15.1758 13.2109L20.2828 16.3785C20.4768 16.5078 20.6061 16.7018 20.6061 16.8957C20.6061 17.0896 20.4768 17.4129 20.2828 17.5422Z" fill="#9E9E9E"/>
                                        </svg>

                        .lfooter__menu
                            .lfooter__cols
                                each col in footerCols
                                    .lfooter__col
                                        each i in col
                                            a(href="#").lfooter__item= i
                    .lfooter__bottom
                        .lfooter__copy © 2021. Автошкола "Город Дорог"

        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
