.lheader {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 115px 0;
  @include lg-block {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include sm-block {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__left {
    margin-right: auto;
    flex-shrink: 0;
    @include lg-block {
      width: 50%;
    }
    @include sm-block {
      width: 123px;
    }
  }

  &__center {
    margin-right: 75px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
    @include lg-block {
      order: 1;
      grid-gap: 30px;
      margin-right: 0;
      margin-top: 35px;
    }
    @include sm-block {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $txt;
    font-size: 14px;
    font-weight: 600;
    @include tr;


    &:hover {
      color: $btn;

      svg {
        transform: translateX(5px);
      }
    }

    svg {
      flex-shrink: 0;
      margin-right: 20px;
      @include tr;
    }
  }

  &__tel {
    width: 242px;
    height: 60px;
    border-radius: 100px;
    border: 1px dashed $txt;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    @include tr;

    @include sm-block {
      width: 172px;
      height: 36px;
      font-size: 13px;
    }

    &:hover {
      color: $bg;
      background-color: $txt;
    }
  }
}