.lonline {
  padding: 120px 0;

  @include lg-block {
    padding: 100px 0;
  }
  @include sm-block {
    padding: 40px 0;
  }

  &__row {
    @include row-flex;
    margin-bottom: 110px;
    @include lg-block {
      gap: 40px;
      margin-bottom: 0px;
    }
    @include sm-block {

    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__left {
    @include col;
    @include size(12);
    @include size-lg(20);
    @include shift-lg(2);
    @include size-sm(24);
    @include shift-sm(0);

    &--car {
      align-self: center;
      @include lg-block {
        order: -1;
      }
    }
  }

  &__right {
    @include col;
    @include size(12);
    @include size-lg(20);
    @include shift-lg(2);
    @include lg-block {
      order: -1;
    }
    @include size-sm(24);
    @include shift-sm(0);
  }

  &__title {
    font-size: 48px;
    margin-bottom: 28px;
    @include sm-block {
      font-size: 24px;
    }
  }

  &__ul {
    margin-bottom: 30px;
  }

  &__li {
    position: relative;
    font-weight: 500;
    padding-left: 35px;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: $btn;
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);

    }
  }

  &__img {
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }
  }

  &__anim {
    position: relative;
    pointer-events: none;
    transform: translate(-150px);
    @include lg-block {
      transform: translate(-20px);
      margin-bottom: -60px;
    }
    @include sm-block {
      transform: none;
      margin-bottom: -45px;
      margin-left: -45px;
      margin-right: -45px;
    }
  }

  &__car {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-1000px, -400px) rotate(-90deg);
    @include lg-block {
      transform: none;
    }

    img {
      display: block;
      max-width: none;
      @include sm-block {
        max-width: 100%;
      }
    }
  }

  &__rounds {
    img {
      display: block;
      max-width: none;
      @include sm-block {
        max-width: 100%;
      }
    }
  }

  &__sub {
    font-size: 36px;
    margin-bottom: 40px;
    @include sm-block{
      font-size: 28px;
    }
  }

  &__list {
    margin-bottom: 45px;
  }

  &__item {
    display: block;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    padding: 25px 0;
    border-top: 1px solid #a0a0a0;
    @include tr;
    @include sm-block{
      font-size: 14px;
      padding: 17px 0;
    }

    &:last-child {
      border-bottom: 1px solid #a0a0a0;
    }

    &:hover {
      color: $btn;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    color: $btn;
    font-size: 20px;
    font-weight: 500;
    @include sm-block{
      font-size: 16px;
    }

    &:hover {
      svg {
        transform: translate(5px, -5px);
      }
    }

    svg {
      margin-left: 25px;
      @include tr;
      @include sm-block{
        width: 20px;
        height: 20px;
        margin-left: 15px;
      }

      path {
        @include tr;
      }
    }
  }

}