-
    var boostList = [
        {
            img: 'images/content/boost/1.svg',
            title: 'Живое <br> общение',
            txt: 'Возможность в живую задавать вопросы и получать развернутые ответы от ведущих инструкторов по вождению'
        },
        {
            img: 'images/content/boost/2.svg',
            title: 'С экономите <br> время и деньги',
            txt: 'Нет необходимости тратить время и деньги на дорогу и везти весь необходимый инвентарь с собой'
        },
        {
            img: 'images/content/boost/3.svg',
            title: 'На любом <br> устройстве',
            txt: 'Участие в конференции на любом носителе дает возможность учиться даже в дороге'
        },
        {
            img: 'images/content/boost/4.svg',
            title: 'Обучение <br> с комфортом',
            txt: 'Изучайте теорию с комфортом, там где вам удобно из любой точки мира'
        }
    ];
-
    var tarrifsList = [
        {
            name: 'Базовый',
            val: '20',
            bdc: '#f2c94c',
            price1: '24 400 руб.',
            price2: '25 400 руб.'
        },
        {
            name: 'Средний',
            val: '30',
            bdc: '#f2c94c',
            price1: '27 400 руб.',
            price2: '28 400 руб.'
        },
        {
            name: 'Золотой',
            val: '40',
            bdc: '#ff1e48 ',
            price1: '31 400 руб.',
            price2: '32 400 руб.'
        },
        {
            name: 'vip',
            val: '56',
            bdc: '#ff6032',
            price1: '37 000 руб.',
            price2: '37 000 руб.',
            cls: 'ltarrif--vip'
        }
    ];
-
    var revsList = [
        {
            img: 'images/content/revs/1.jpg',
            name:'Александр',
            txt: 'Всем привет! Меня зовут Александр Метёлкин. Я закончил автошколу "Город Дорог". Сдал свой экзамен по теории на 20 из 20. Спасибо автошколе "Город Дорог" за то, что так хорошо обучаете.'
        },
        {
            img: 'images/content/revs/2.jpg',
            name:'Дарья',
            txt: 'Всем привет! Меня зовут Дарья. Я обучалась в автошколе «Город дорог». Хотела бы выразить большую благодарность автошколе и инструктору Дмитрию Курбатову за то, что...'
        },
        {
            img: 'images/content/revs/3.jpg',
            name:'Юлия',
            txt: 'Здравствуйте! Меня зовут Юлия. Я прошла обучение в автошколе «Город дорог». Мне все понравилось! Администраторы отзывчивые, всегда подскажут и помогут....'
        },

    ];
-
    var footerCols = [
        [
            "Об автошколе",
            "обучение",
            "цены",
            "филиалы",
        ],
        [
            "для ученика",
            "как записаться",
            "инструкторы",
            "отзывы",
        ],
        [
            "контакты",
            "политика конфиденциальности",
            "оплата"
        ],

    ];